/* 由开发人员工具生成。它可能不是原始源文件的准确表示形式。*/
.navbar .navbar-inner {
 FILTER: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important
}
.navbar .btn-navbar {
 FILTER: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important
}
.dropdown-menu LI > A {
 FILTER: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important
}
.dropdown-submenu > A {
 FILTER: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important
}
.btn {
 FILTER: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important
}
.progress {
 FILTER: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important
}
.progress .bar {
 FILTER: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important
}
#cboxLoadingGraphic > .ace-icon {
 DISPLAY: inline-block; BACKGROUND: url(images/loading.gif) #fff no-repeat center 50%
}
#cboxLoadingGraphic > .fa {
 DISPLAY: inline-block; BACKGROUND: url(images/loading.gif) #fff no-repeat center 50%
}
#cboxLoadingGraphic > .glyphicon {
 DISPLAY: inline-block; BACKGROUND: url(images/loading.gif) #fff no-repeat center 50%
}
#cboxLoadingGraphic > .ace-icon:before {
 DISPLAY: none
}
#cboxLoadingGraphic > .fa:before {
 DISPLAY: none
}
#cboxLoadingGraphic > .glyphicon:before {
 DISPLAY: none
}
.widget-box-overlay > .loading-icon {
 WIDTH: 24px; DISPLAY: inline-block; BACKGROUND: url(images/loading.gif) no-repeat center 50%; HEIGHT: 24px
}
.widget-box-overlay > .loading-icon:before {
 DISPLAY: none
}
.profile-user-info {
 WIDTH: 98%
}
.wysiwyg-toolbar .dropdown-menu {
 MIN-WIDTH: 260px
}
.modal-contained.modal {
 POSITION: absolute !important
}
.rtl .sidebar .nav-list LI.active > A:before {
 TEXT-ALIGN: left; DIRECTION: ltr
}
.rtl .sidebar .nav-list LI.active > A:after {
 TEXT-ALIGN: left; DIRECTION: ltr
}
.rtl .sidebar .nav-list LI > .arrow {
 TEXT-ALIGN: left; DIRECTION: ltr
}

@media All
{
 HTML {
  POSITION: absolute; WIDTH: 100%
 }
 BODY {
  BACKGROUND-COLOR: #e9e9e9
 }
 .sidebar-fixed:before {
  LEFT: 0px
 }
 .sidebar .nav-list > LI:before {
  Z-INDEX: 4444; LEFT: -3px
 }
 .nav-list > LI > .submenu LI.open > A > .menu-icon {
  DISPLAY: inline-block
 }
 .ace-nav > LI.white-opaque {
  FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCFFFFFF', endColorstr='#CCFFFFFF', GradientType=0)
 }
 .ace-nav > LI.dark-opaque {
  FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#33000000', GradientType=0)
 }
 .ace-nav > LI.transparent > A:hover {
  FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#19000000', endColorstr='#19000000', GradientType=0); BACKGROUND-COLOR: transparent !important
 }
 .ace-nav > LI.transparent > A:focus {
  FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#19000000', endColorstr='#19000000', GradientType=0); BACKGROUND-COLOR: transparent !important
 }
 .ace-nav > LI.transparent.open > A {
  FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#19000000', endColorstr='#19000000', GradientType=0); BACKGROUND-COLOR: transparent !important
 }
 .ace-nav > LI.light-10 > A {
  FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#19FFFFFF', endColorstr='#19FFFFFF', GradientType=0); BACKGROUND-COLOR: transparent !important
 }
 .ace-nav > LI.light-10 > A:hover {
  FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCFFFFFF', endColorstr='#CCFFFFFF', GradientType=0) !important; BACKGROUND-COLOR: transparent !important
 }
 .ace-nav > LI.light-10 > A:focus {
  FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCFFFFFF', endColorstr='#CCFFFFFF', GradientType=0) !important; BACKGROUND-COLOR: transparent !important
 }
 .ace-nav > LI.light-10.open > A {
  FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCFFFFFF', endColorstr='#CCFFFFFF', GradientType=0) !important; BACKGROUND-COLOR: transparent !important
 }
 .ace-nav > LI.dark-10 > A {
  FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#19000000', endColorstr='#19000000', GradientType=0); BACKGROUND-COLOR: transparent !important
 }
 .ace-nav > LI.dark-10 > A:hover {
  FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#33000000', GradientType=0); BACKGROUND-COLOR: transparent !important
 }
 .ace-nav > LI.dark-10 > A:focus {
  FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#33000000', GradientType=0); BACKGROUND-COLOR: transparent !important
 }
 .ace-nav > LI.dark-10.open > A {
  FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#33000000', GradientType=0); BACKGROUND-COLOR: transparent !important
 }
 .navbar .navbar-nav > LI > A:hover {
  FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#19000000', endColorstr='#19000000', GradientType=0) !important; BACKGROUND-COLOR: transparent !important
 }
 .navbar .navbar-nav > LI > A:focus {
  FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#19000000', endColorstr='#19000000', GradientType=0) !important; BACKGROUND-COLOR: transparent !important
 }
 .navbar .navbar-nav > LI.open > A {
  FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#19000000', endColorstr='#19000000', GradientType=0) !important; BACKGROUND-COLOR: transparent !important
 }
 .infobox-dark > .badge {
  FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF', endColorstr='#33FFFFFF', GradientType=0) !important
 }
 .widget-box-overlay {
  FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#55000000', endColorstr='#55000000', GradientType=0) !important
 }
 .widget-toolbar-light {
  FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D8FFFFFF', endColorstr='#D8FFFFFF', GradientType=0) !important
 }
 INPUT[type=checkbox].ace {
  Z-INDEX: auto !important; POSITION: static !important; WIDTH: auto !important; HEIGHT: auto !important
 }
 INPUT[type=radio].ace {
  Z-INDEX: auto !important; POSITION: static !important; WIDTH: auto !important; HEIGHT: auto !important
 }
 LABEL INPUT[type=checkbox].ace {
  Z-INDEX: auto !important; POSITION: static !important; WIDTH: auto !important; HEIGHT: auto !important
 }
 LABEL INPUT[type=radio].ace {
  Z-INDEX: auto !important; POSITION: static !important; WIDTH: auto !important; HEIGHT: auto !important
 }
 INPUT[type=checkbox].ace-switch.ace {
  Z-INDEX: auto !important; POSITION: static !important; WIDTH: auto !important; HEIGHT: auto !important
 }
 INPUT[type=radio].ace-switch.ace {
  Z-INDEX: auto !important; POSITION: static !important; WIDTH: auto !important; HEIGHT: auto !important
 }
 LABEL INPUT[type=checkbox].ace-switch.ace {
  Z-INDEX: auto !important; POSITION: static !important; WIDTH: auto !important; HEIGHT: auto !important
 }
 LABEL INPUT[type=radio].ace-switch.ace {
  Z-INDEX: auto !important; POSITION: static !important; WIDTH: auto !important; HEIGHT: auto !important
 }
 INPUT[type=checkbox].ace + .lbl {
  POSITION: static !important; MIN-WIDTH: auto !important; MIN-HEIGHT: auto !important; WIDTH: auto !important; HEIGHT: auto !important
 }
 INPUT[type=radio].ace + .lbl {
  POSITION: static !important; MIN-WIDTH: auto !important; MIN-HEIGHT: auto !important; WIDTH: auto !important; HEIGHT: auto !important
 }
 INPUT[type=checkbox].ace ~ .lbl {
  POSITION: static !important; MIN-WIDTH: auto !important; MIN-HEIGHT: auto !important; WIDTH: auto !important; HEIGHT: auto !important
 }
 INPUT[type=radio].ace ~ .lbl {
  POSITION: static !important; MIN-WIDTH: auto !important; MIN-HEIGHT: auto !important; WIDTH: auto !important; HEIGHT: auto !important
 }
 INPUT[type=checkbox].ace-switch.ace {
  WIDTH: auto !important
 }
 INPUT[type=checkbox].ace-switch.ace + .lbl {
  MARGIN: 0px; MIN-HEIGHT: auto !important
 }
 INPUT[type=checkbox].ace-switch.ace ~ .lbl {
  MARGIN: 0px; MIN-HEIGHT: auto !important
 }
 .checkbox LABEL INPUT[type=checkbox].ace + .lbl {
  MARGIN-LEFT: auto
 }
 .radio LABEL INPUT[type=radio].ace + .lbl {
  MARGIN-LEFT: auto
 }
 .checkbox LABEL INPUT[type=checkbox].ace ~ .lbl {
  MARGIN-LEFT: auto
 }
 .radio LABEL INPUT[type=radio].ace ~ .lbl {
  MARGIN-LEFT: auto
 }
 [class*=input-] {
  MAX-WIDTH: none !important
 }
 .wizard-steps LI:first-child:before {
  MAX-WIDTH: 100%; LEFT: 0px
 }
 .login-layout .widget-box {
  POSITION: static; DISPLAY: none; VISIBILITY: visible
 }
 .login-layout .visible.widget-box {
  DISPLAY: block
 }
 .pricing-box-small:hover {
  TOP: -3px; LEFT: -1px
 }
 .ace-thumbnails > LI > A > IMG {
  WIDTH: auto !important
 }
 .ace-thumbnails > LI > :first-child > .text {
  DISPLAY: none
 }
 .ace-thumbnails > LI:hover > :first-child > .text {
  DISPLAY: block
 }
 .ace-thumbnails > LI > .tools {
  FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C000000', endColorstr='#8C000000', GradientType=0) !important
 }
 .ace-thumbnails > LI > :first-child > .text {
  FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C000000', endColorstr='#8C000000', GradientType=0) !important
 }
 .btn-light.btn-app.btn {
  BORDER-BOTTOM: #d9d9d9 1px solid; BORDER-LEFT: #d9d9d9 1px solid; BORDER-TOP: #d9d9d9 1px solid; BORDER-RIGHT: #d9d9d9 1px solid
 }
 .btn-yellow.btn-app.btn {
  BORDER-BOTTOM: #fee188 1px solid; BORDER-LEFT: #fee188 1px solid; BORDER-TOP: #fee188 1px solid; BORDER-RIGHT: #fee188 1px solid
 }
 .widget-box-overlay {
  FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#55000000', endColorstr='#55000000', GradientType=0) !important
 }
 .ace-file-overlay {
  FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7F000000', endColorstr='#7F000000', GradientType=0) !important
 }
 .ace-file-overlay > .ace-icon {
  WIDTH: 32px; DISPLAY: inline-block; BACKGROUND: url(images/loading.gif) no-repeat center 50%; HEIGHT: 32px
 }
 .ace-file-overlay > .fa {
  WIDTH: 32px; DISPLAY: inline-block; BACKGROUND: url(images/loading.gif) no-repeat center 50%; HEIGHT: 32px
 }
 .ace-file-overlay > .glyphicon {
  WIDTH: 32px; DISPLAY: inline-block; BACKGROUND: url(images/loading.gif) no-repeat center 50%; HEIGHT: 32px
 }
 .ace-file-overlay > .ace-icon:before {
  DISPLAY: none
 }
 .ace-file-overlay > .fa:before {
  DISPLAY: none
 }
 .ace-file-overlay > .glyphicon:before {
  DISPLAY: none
 }
 .grid3 {
  WIDTH: 31%
 }
 .grid4 {
  WIDTH: 23%
 }
 .dialogdiv.itemdiv > .body:before {
  DISPLAY: none
 }
 .fc-event-hori {
  BORDER-RIGHT-WIDTH: 0px !important; BORDER-TOP-WIDTH: 0px !important; BORDER-BOTTOM-WIDTH: 0px !important; BORDER-LEFT-WIDTH: 0px !important
 }
 .fc-event-vert {
  BORDER-RIGHT-WIDTH: 0px !important; BORDER-TOP-WIDTH: 0px !important; BORDER-BOTTOM-WIDTH: 0px !important; BORDER-LEFT-WIDTH: 0px !important
 }
 [class*=tab-color-] .nav-tabs > LI > A > .ace-icon:first-child {
  COLOR: #666 !important
 }
 [class*=tab-color-] .nav-tabs > LI > A > .fa:first-child {
  COLOR: #666 !important
 }
 .dropdown-preview > .dropdown-menu {

 }
 .ui-datepicker {
  BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
 }
 .ui-autocomplete {
  BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
 }
 .ui-menu {
  BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
 }
 .ui-widget-overlay {
  FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#44000000', endColorstr='#44000000', GradientType=0) !important
 }
 .message-content {
  FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCFFFFFF', endColorstr='#CCFFFFFF', GradientType=0) !important
 }
 .gritter-item-wrapper {
  FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EA323232', endColorstr='#EA323232', GradientType=0) !important
 }
 .gritter-info.gritter-item-wrapper {
  FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EA315185', endColorstr='#EA315185', GradientType=0) !important
 }
 .gritter-error.gritter-item-wrapper {
  FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EA992812', endColorstr='#EA992812', GradientType=0) !important
 }
 .gritter-success.gritter-item-wrapper {
  FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EA59834B', endColorstr='#EA59834B', GradientType=0) !important
 }
 .gritter-warning.gritter-item-wrapper {
  FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EABE701F', endColorstr='#EABE701F', GradientType=0) !important
 }
 .gritter-light.gritter-item-wrapper {
  FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2F5F5F5', endColorstr='#F2F5F5F5', GradientType=0) !important
 }
 .gritter-light.gritter-info {
  FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2E8F2FF', endColorstr='#F2E8F2FF', GradientType=0) !important
 }
 .gritter-light.gritter-error {
  FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2FFEBEB', endColorstr='#F2FFEBEB', GradientType=0) !important
 }
 .gritter-light.gritter-success {
  FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2EFFAE3', endColorstr='#F2EFFAE3', GradientType=0) !important
 }
 .gritter-light.gritter-warning {
  FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2FCF8E3', endColorstr='#F2FCF8E3', GradientType=0) !important
 }
 .widget-header .wysiwyg-toolbar .btn-group > .btn {
  FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40FFFFFF', endColorstr='#40FFFFFF', GradientType=0) !important; BACKGROUND: none transparent scroll repeat 0% 0%
 }
 .widget-body .md-header .btn {
  FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40FFFFFF', endColorstr='#40FFFFFF', GradientType=0) !important; BACKGROUND: none transparent scroll repeat 0% 0%
 }
 .widget-header .wysiwyg-toolbar .btn-group > .active.btn {
  FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40000000', endColorstr='#40000000', GradientType=0) !important; BACKGROUND: none transparent scroll repeat 0% 0%
 }
 .widget-body .md-header .btn-inverse {
  FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40000000', endColorstr='#40000000', GradientType=0) !important; BACKGROUND: none transparent scroll repeat 0% 0%
 }
 .widget-body .md-header .btn {
  DISPLAY: none
 }
 .widget-body .md-header .btn-inverse {
  DISPLAY: none
 }
 .scroller-bar {
  DISPLAY: none
 }
 .scroller-active .scroller-bar {
  DISPLAY: none
 }
 .scroller-active:hover .scroller-bar {
  DISPLAY: block
 }
 .scroller-active .active.scroller-bar {
  DISPLAY: block
 }
 .scroller-active .scroller-bar:active {
  DISPLAY: block
 }
 .nav-wrap:hover + .scroller-active .scroller-bar {
  DISPLAY: block
 }
 .ace-settings-box {
  DISPLAY: none
 }
 .open.ace-settings-box {
  DISPLAY: block
 }
 [data-toggle=buttons] > .btn > INPUT[type=radio] {
  DISPLAY: none
 }
 [data-toggle=buttons] > .btn > INPUT[type=checkbox] {
  DISPLAY: none
 }
 .aside-vc.aside-hidden.aside .modal-dialog {
  WIDTH: 0px
 }
 .aside-hz.aside-hidden.aside .modal-dialog {
  HEIGHT: 0px
 }
 .btn-group > .btn-app:first-child {
  MARGIN-RIGHT: 24px
 }
 .btn-group > .dropdown-toggle.btn-app:first-child {
  MARGIN-RIGHT: auto
 }
 .sidebar .sub-scroll.submenu {
  OVERFLOW-Y: auto
 }

}
